
<ng-container *ngFor="let post of childPosts; let i = index">
    <div class="flex justify-between items-center bg-white w-full rounded-lg shadow-xl p-6 mt-16 my-4 w-full px-4 text-center mt-4 bg-gray-700 relative">
      <div class="flex-grow flex items-center">
        <div class="h-full w-1 bg-white mr-4"></div>
        <p class="text-left text-white font-sans text-xl">{{ post.title }}qsqsdfqsdf
            
        </p>
      </div>
      <button (click)="onPostClicked()" class="absolute top-0 right-0 bottom-0 bg-transparent text-white shadow-lg px-5" style="font-size: 60px; border-left: 1px solid white;">
        +
      </button>
    </div>
  
    <app-child-post *ngIf="childPosts[i]" [content]="post.content"></app-child-post>
  </ng-container>
  