<div class="ml-[210px] w-3/4 rounded-lg shadow-xl p-2 mt-16 my-4 bg-gray-700">
  <!-- Tab Switcher -->
  <div class="flex justify-between mb-4">
    <button
      class="flex-1 px-4 py-2 rounded-l-xl bg-gray-800 text-white"
      [class.bg-gray-800]="activeTab === 'code'"
      (click)="activeTab = 'code'"
    >
      Code
    </button>
    <button
      class="flex-1 px-4 py-2 rounded-r-xl bg-gray-800 text-white"
      [class.bg-gray-800]="activeTab === 'description'"
      (click)="activeTab = 'description'"
    >
      Description
    </button>
  </div>

  <!-- Content based on active tab -->
  <div class="py-3" *ngIf="activeTab === 'code'">
    <div class="h-[300px]">
      <ngx-monaco-editor
        [options]="editorOptions"
        [(ngModel)]="solutionCode"
      >
      </ngx-monaco-editor>
    </div>
  </div>
  <div class="py-3" *ngIf="activeTab === 'description'">
    <h1 class="text-white">
      {{ solutionDescription }}
    </h1>
  </div>
</div>
