<!-- Navbar -->
<nav
  class="absolute top-0 left-0 w-full z-10 bg-transparent md:flex-row md:flex-nowrap md:justify-start flex items-center p-4"
>
  <div
    class="w-full mx-autp items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4"
  >
    <!-- Brand -->
    <a
      class="text-white text-sm uppercase hidden lg:inline-block font-semibold"
      href="#pablo"
      >Dashboard</a
    >
    <!-- Form -->
    <form
      class="md:flex hidden flex-row flex-wrap items-center lg:ml-auto mr-3"
    >
      <div class="relative flex w-full flex-wrap items-stretch">
        <ul class="flex">
          <li class="flex items-center">
            <div class="alert alert-success" *ngIf="isLoggedIn">
              Logged in as {{ username }}.
            </div>
          </li>
          <li class="flex items-center" *ngIf="isLoggedIn">
            <button
              class="bg-white text-slate-700 active:bg-slate-50 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150"
              type="button"
              (click)="onLogout()"
            >
              <i class="fas fa-sign-out-alt"></i>
            </button>
          </li>
        </ul>
        
      </div>
    </form>
    
  </div>
</nav>
